<!-- inside app/views/home/index.html.erb -->

<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div>
 <h1><%= link_to "Articles", root_path %></h1>

    Our blog has <%= Article.public_count %> articles and counting!

    <ul>
    <% @articles.each do |article| %>
        <% unless article.archived? %>
        <li>
            <%= link_to article.title, article %>
        </li>
        <% end %>
    <% end %>
    </ul>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>



<button type="button" 
        class="btn btn-lg btn-danger" 
        data-bs-toggle="popover" 
        title="Popover title" 
        data-bs-content="Amazing content, right ?">
        <%= link_to "New Article", new_article_path %>
</button>  

