<section style="background-color: #eee;">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <!-- Article display -->
        <div class="row g-5">
          <div class="col-md-8">
            <article class="blog-post">
              <h2 class="blog-post-title"><%= @article.title %></h2>
              <p class="blog-post-meta"><%= @article.created_at.strftime("%B %d, %Y") %></p>
              <hr>
              <p><%= @article.body %></p>
              <hr>
              <%= link_to "Edit", edit_article_path(@article) %>
              <%= link_to "Destroy", article_path(@article), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %>
            </article>
          </div>
        </div>
        <!-- Comments displaying -->
        <div class="card mt-4">
          <%= render @article.comments %>
          <hr>
          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <%= render 'comments/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>